@charset "UTF-8";
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
ul,
li,
ol {
  list-style-type: none;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  font: 20px/1.5 "Monaco", Helvetica, Arial, sans-serif;
  padding: 60px 50px;
  background: #fff;
}
#mocha h1 {
  margin: 15px 0 5px 0;
  font-size: 16px;
  font-weight: 200;
}
#mocha h1 a {
  text-decoration: none;
  color: inherit;
}
#mocha h1 a:hover {
  text-decoration: underline;
}
#mocha h2 {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
#mocha .suite,
#mocha .test {
  margin-left: 15px;
}
#mocha .test {
  margin: 0 0 5px 0;
  clear: both;
}
#mocha .test .duration {
  font-size: 11px;
  margin-left: 5px;
  padding: 2px 5px;
  color: #ccc;
  border-radius: 5px;
}
#mocha .test pre {
  display: inline-block;
  font: 12px/1.5 monaco, monospace;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px #eee;
}
#mocha .test h2 {
  position: relative;
}
#mocha .test a.replay {
  position: absolute;
  top: 3px;
  left: -20px;
  text-decoration: none;
  vertical-align: middle;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background: #eee;
  font-size: 15px;
  border-radius: 15px;
  transition: opacity 200ms;
  opacity: 0.2;
  color: #888;
}
#mocha .test:hover a.replay {
  opacity: 1;
}
#mocha .test.pending {
  color: #0b97c4;
}
#mocha .test.pending::before {
  content: '◦';
  color: #0b97c4;
}
#mocha .test.pending:hover h2::after {
  content: '(pending)';
}
#mocha .test.pass::before {
  content: '✓';
  font-size: 26px;
  line-height: 15px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #00d6b2;
}
#mocha .test.pass.fast .duration {
  color: #ccc;
}
#mocha .test.pass.medium .duration {
  background: #c09853;
}
#mocha .test.pass.slow .duration {
  background: #b94a48;
}
#mocha .test.fail {
  color: #c00;
}
#mocha .test.fail pre {
  color: #000;
}
#mocha .test.fail::before {
  content: '✖';
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #c00;
}
#mocha-report.pass .test.fail {
  display: none;
}
#mocha-report.fail .test.pass {
  display: none;
}
#mocha-error {
  color: #c00;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
}
#mocha-stats {
  position: fixed;
  top: 15px;
  right: 30px;
  font-size: 12px;
  margin: 0;
  color: #888;
}
#mocha-stats .progress {
  float: right;
  padding-top: 0;
}
#mocha-stats em {
  color: #000;
}
#mocha-stats a {
  text-decoration: nones;
  color: inherit;
}
#mocha-stats a:hover {
  border-bottom: 1px solid #eee;
}
#mocha-stats li {
  display: inline-block;
  margin: 0 5px;
  padding-top: 11px;
  list-style: none;
}
code .comment {
  color: #ddd;
}
code .init {
  color: #2f6fad;
}
code .string {
  color: #5890ad;
}
code .keyword {
  color: #8a6343;
}
code .number {
  color: #2f6fad;
}
