#footer {
  position: relative;
  overflow: auto;
  background: #000;
  color: #fff; 

  .copy {
    margin: 0 0 45px 0;
    font-family: "Helvetica", "Arial", sans-serif; 
    font-size: 11px;
    text-align: center; 
  }  
}