#hero {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: $header_h;

  #cover {
    position: absolute;
    width: 100%; height: 100%;
    
    background-color: #111;
    background-image: url("/assets/images/s4.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include vendor-prefix(background-size, "cover");
  }

  #overlay {
    z-index: 2;
    position: absolute;
    width: 100%; height: 100%;
    background: rgba(234,89,0,0.5);
  }

  #sale { 
    font-family: "Flood";
    font-size: 60px;
    color: #fff;
  }

  #hero-copy {
    z-index: 2;
    position: relative;
    // background: blue;
    top: 50%;
    height: 100%;
  }

  #hero-cta {
    color: #fff;
  }

  h1, h2 { color: inherit; }
  h2 { font-weight: normal; }
}
