#header {
  // min-width: 960px;
  // min-height: $header_h;


  #cover {
    position: relative;
    width: 100%; height: 100%;
    
    background: url("/assets/images/splash.jpg") center top no-repeat;
    background-attachment: fixed;

    @include vendor-prefix(background-size, "cover");
  }

  #sale { font-family: "Flood"}
  #hero-copy {
    position: absolute;
    bottom: 10%;
    color: #fff;
  }

  h1, h2 { color: inherit; }
  h2 { font-weight: normal; }
}
