#hero {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: $header_h;

  .arr {
    display: none;
    z-index: 5;
    position: absolute;
    width: 33px; height: 95px;
    top: 50%;
    margin: -45px 0 0 0;
    cursor: pointer;

    &:hover {
      margin-top: -46px;
    }

    &:active {
      margin-top: -44px;
    }
  }

  #arr-next {
    right: 5%;
    background: url("/assets/images/arrow-next.png") 0 0 no-repeat;
  }

  #arr-prev {
    left: 5%;
    background: url("/assets/images/arrow-prev.png") 0 0 no-repeat;
  }

  #cover {
    position: absolute;
    width: 100%; height: 100%;

    background-color: #111;
    background-image: url("/assets/images/splash.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include vendor-prefix(background-size, "cover");
  }

  #overlay {
    z-index: 2;
    position: absolute;
    width: 100%; height: 100%;
    background: url("/assets/images/gradient-bg.png") bottom repeat-x;
  }

  #sale {
    font-family: "Flood";
    font-size: 60px;
    color: #fff;
  }

  #hero-copy {
    z-index: 2;
    position: relative;
    top: 40%;
    height: 100%;
  }

  #hero-cta {
    color: #fff;
  }

  h1, h2 { color: inherit; }
  h2 { font-weight: normal; }
}
