#hero {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: $header_h;

  .arr {
    display: none;
    z-index: 5;
    position: absolute;
    width: 33px; height: 95px;
    top: 50%;
    margin: -45px 0 0 0;
    cursor: pointer;

    &:hover {
      margin-top: -46px;
    }

    &:active {
      margin-top: -44px;
    }
  }

  #logo {
    background: url("/assets/images/ultimate-48.png") 0 0 no-repeat;
    width: 577px; height: 79px;
    overflow: hidden;
    text-align: -999px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #cover {
    position: absolute;
    width: 100%; height: 100%;

    background-color: #111;
    background-image: url("/assets/images/splash.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include vendor-prefix(background-size, "cover");
  }

  #overlay {
    z-index: 2;
    position: absolute;
    width: 100%; height: 100%;
    background: url("/assets/images/opener.png") center bottom no-repeat;

    text-align: center;

    #won {
      position: absolute;
      bottom: 150px; left: 50%;
      width: 500px;
      margin: 0 0 0 -250px;

    }
  }


  #cta {
    z-index: 10;
    position: absolute;
    top: 60px; left: 50%;
    margin: 0 0 0 -450px;
    width: 900px;
    text-align: center;

    h1 {
      font-size: 30px;  line-height: 1.3em; font-weight: normal;
      padding: 15px; margin: 15px auto;
      width: 500px;
      background: rgba(0,0,0,0.75); color: #999;
      border-radius: 7px;

      strong { color: #fff; }
    }

  }

  #sale {
    font-family: "Flood";
    font-size: 60px;
    color: #fff;
  }

  #hero-copy {
    z-index: 2;
    position: relative;
    top: 40%;
    height: 100%;
  }

  #hero-cta {
    color: #fff;
  }

  h1, h2 { color: inherit; }
  h2 { font-weight: normal; }
}
