.btn {
  text-transform: uppercase;
}

.field { position: relative; min-height: 40px; margin: 0;}

//custom controls
.drop-down {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin: 0;

  @include vendor-prefix(user-select, none);
  @include vendor-prefix(border-radius, 7px);

  .selector {
    z-index: 2;
    position: relative;
    padding: 0 40px 0 0;
    cursor: pointer;
  }

  .control {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    padding: 10px;
    color: #8D8D8D;
    border-left: 1px solid #e5e5e5;

    &:active {
      padding-top: 8px;
    }
  }

  .slider { display: none; }

  .slide-item, .selected-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
  }

  .slide-item:first-child {
    border-top: 1px solid #e5e5e5;
  }

  .selected-item, .slide-item:last-child { border: none; }

  &.visible {
    .slider { display: block;}
  }
}


// Add Padding to skeletons
// .columns { padding: 15px; }

body.debug {
  .container { background: #eee; }
  .columns { background: #ddd; }
}

// Site specific Layout
#application {}

#content {
  height: 1024px;
  background: #f8f8f8;
}

#mission {
  padding: 30px;
}
