a { color: #52BAD5; }

.btn {
  text-transform: uppercase;
}

.field { position: relative; min-height: 40px; margin: 0;}


// Add Padding to skeletons
// .columns { padding: 15px; }




h3 { font-size: 36px; line-height: 1em;  }

#item-description {
  text-align: center;

  h3 { margin: 60px 0 30px 0; font-weight: normal; color: #DA3624; }
}

body.debug {
  .container { background: #eee; }
  .columns { background: #ddd; }
}

// Site specific Layout
#application {}


#content {
  height: 1024px;
  background: #f8f8f8;
}

#mission {
  padding: 30px;
}


#info {
  background: url("/assets/images/info.png") 0 0 no-repeat;
  width: 500px; height: 250px;
  margin: 60px auto;
}

.cta-btn { font-size: 30px; padding: 15px 30px; background: #FEE064; box-shadow: 0 1px 5px rgba(0,0,0,0.2); }

#item-description { margin-bottom: 180px;} 
