#main-nav {
  z-index: 1000;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #1E7446;

  .container { position: relative; }
  .columns { padding: 15px 0;}

  a { color: #52BAD5; }

  #logo {
    // @extend .five.columns;
    position: absolute;
    top: 0; left: 0;
    width: 140px; height: 60px;
    background: url("/assets/images/logo-sm.png") 0 0 no-repeat;

    span { display: none;}
  }

  #nav-options {
    font-size: 16px; line-height: 30px;
    text-align: right;
    color: #777;

    strong { color: inherit; }

    .ico {
      font-size:26px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      margin: 0 15px;
      text-decoration: none;

      color: #fff;
      font-weight: bold;
      text-transform: uppercase;

      &:hover { border-bottom: 2px solid #fff; }
    }
  }

  &.visible {
    @include vendor-prefix(animation, "slide-down 300ms ease-in-out both");
  }

  &.hidden {
    @include vendor-prefix(animation, "slide-up 300ms ease-in-out both");
  }
}

#main-nav.static {
  background: transparent;

  #logo {
    width: 278px; height: 122px;
    background: url("/assets/images/logo.png") 0 0 no-repeat;
  }

  #nav-options a {
    margin: 0 5px;
    padding: 7px 15px;
    background: #177343;
  }

}
