#main-nav {
  z-index: 1000;
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  
  @include vendor-prefix(box-shadow, "0 0 2px 0 rgba(0,0,0,0.5)");

  .container { position: relative; }
  .columns { padding: 15px 0;}

  a { color: #52BAD5; }

  #logo {
    @extend .five.columns;
    display: inline-block;

    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: #111;
  }

  #nav-options {
    font-size: 16px; line-height: 30px;
    text-align: right;
    color: #777;

    strong { color: inherit; }

    .ico {
      font-size:26px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .shopping-bag {
    position: relative;
  }

  .count {
    position: absolute;
    top: -0.4em; right: -0.2em;
    padding: 3px;
    background: #CB2027;

    font-size: 11px; line-height: 1em;
    font-weight: bold;

    @include vendor-prefix(border-radius, 3px);
  }

  .sign-in {
    font-style: italic;
    font-weight: bold;
    color: $link_color;
  }

  &.visible {
    @include vendor-prefix(animation, "slide-down 300ms ease-in-out both");
  }

  &.hidden {
    @include vendor-prefix(animation, "slide-up 300ms ease-in-out both");
  }
}
